# Ignore binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Ignore directories named "bin" (common name for binary output directory)
bin/

# Project specific
.env

# Dependency directories 
/vendor/
